<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="survey.model.cateVO"/>
        <package name="survey.model.questionVO"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/cate/CateEdit.xml"/>
        <mapper resource="mapper/question/QuesEdit.xml"/>
    </mappers>
</configuration>

